
@{
                /**/

                ViewBag.Title = "Online";
                Layout = null;
}
@using Market.Views.ViewModel.Default;
@model DefaultViewModel



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fursat.az/online</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/online.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <script src="https://kit.fontawesome.com/a5a64ef4c6.js"></script>

</head>

<body>

    <!-- <MARKET HEADER></MARKET> -->
    <div class="market-header ">
        <div class="fixed-menu">
            <div class="container">
                <div class="row mt-3 align-items-center">
                    <div class="col-sm-5 col-md-5 menu p-0 mb-2">
                        <nav class="navbar navbar-expand-lg pt-2 p-0">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                                    aria-label="Toggle navigation"></button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav  main-menu">
                                    <ul class="d-flex m-0 p-0">
                                        <li class="nav-item">
                                            <a class="nav-link   menu-a" href="online.html" style="font-size: 16px;color: black; padding-right: 0;padding-left: 0">Online Alisveris </a>
                                        </li>
                                        <li class="nav-item dropdown mainDrop">
                                            <a class="nav-link dropdown-toggle" style=" color: black;font-size: 16px;  font-weight: bold;" href="#"
                                               id="navbarDropdown" role="button" data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false">
                                                Supermarkets
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item">
                                                    <input type="text" placeholder="Search.." id="myInput"
                                                           onkeyup="filterFunction()">
                                                </li>
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="#">Bravo</a>
                                                </li>

                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="#">Rahat Market</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="#">Grandmart</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="#">Bazarstore</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="https://www.neptun.az/">Neptun</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="#">Araz market</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-item nav-link  menu-a" style="color: black; font-size: 16px; " href="Market.html">Haqqımızda</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-item nav-link  menu-a" style="color: black; font-size: 16px;" href="contact.html"><span>Əlaqə </span></a>
                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <div class="logo">
                            <a href="Fursat.html"><h3 style="margin: 0 70px 0 0px;cursor: pointer; text-align: center">Fursat</h3></a>
                        </div>
                    </div>

                    <div class="col-sm-5 col-md-4 p-0 ">
                        <div class="top-left  mt-2">
                            <ul class="p-0">
                                <!-- <li class><a href="#"> <img src="Fhoto/azerbaijan.png"></a></li>
                                <li class><a href="#" style="font-size: 20px;"><img src="Fhoto/russia.png"></a></li> -->
                                <li><i class="fas fa-user-circle mt-1" style="color: white; font-size: 20px;"></i><a href="Login.html"> Login</a></li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f web" style="color: white; font-size: 20px;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-instagram web" style="color: white;font-size: 23px; "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fas fa-shopping-bag web" style="color: white;font-size: 23px; "></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <MARKET HEADER></MARKET> -->

    <section id="info-section" style="  background-image: url(https://www.iheartreykjavik.net/wp-content/uploads/2013/07/shopping.jpg);">
        <div class="info-middle">
            <p style=" font-size: 40px;font-weight: bold;line-height: 1.3em;margin-right: 25px;color: #414B5F;text-align: center;font-family: didot-w01-italic,serif;">Birbaşa ünvana çatdırılma ilə <br>Fursatdən alış-veriş et!</p>
        </div>
    </section>



    <section id="filter">
        <div class="container-fluid">

            <div class="row">
                <div class="kateqoriya mr-1">
                    <select>
                        <option value="0">Butun kateqoriyalar</option>

                        <optgroup label="Ickiler">
                            <option value="">Bizon</option>
                            <option value="">Hell</option>
                        </optgroup>
                        <optgroup label="Sud mehsullari">
                            <option value="">Milla</option>
                            <option value="">AZersud</option>
                        </optgroup>
                        <optgroup label="Meyve">
                            <option value="">Alma</option>
                            <option value="">Banan</option>
                        </optgroup>
                    </select>
                </div>
                <div class="search">
                    <input type="text" placeholder="Search.." name="search">
                    <button style="border-radius: 0px 20px 20px 0;" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>

    </section>




    <section id="kategory">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 mt-5 col-sm-4">
                    <div class="side">
                        <ul class="menu">
                            <li class="menu-list" >
                                <a href="#icki">Ickiler</a>
                                <ul class="menu-drop" id="icki">
                                    <li><a href="">Enerji</a></li>
                                    <li><a href="">Spirtli</a></li>
                                    <li><a href="">Spirtsiz</a></li>
                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="">Meyve,Terevez</a>
                                <ul class="menu-drop">
                                    <li><a href="">Meyve</a></li>
                                    <li><a href="">Terevez</a></li>
                                    <li><a href="">Quru Meyve</a></li>
                                    <li><a href="">Cerezler</a></li>

                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="">Sud mehsullari</a>
                                <ul class="menu-drop">
                                    <li><a href="">Ayran</a></li>
                                    <li><a href="">Qatiq</a></li>
                                    <li><a href="">Sud</a></li>
                                    <li><a href="">Qaymaq</a></li>
                                    <li><a href="">Pendir</a></li>
                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="">Qastronom</a>
                                <ul class="menu-drop">
                                    <li><a href="">Et</a></li>
                                    <li><a href="">Toyuq</a></li>
                                    <li><a href="">Kalbasa</a></li>

                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="">Ickiler</a>
                                <ul class="menu-drop">
                                    <li><a href="">Enerji</a></li>
                                    <li><a href="">Spirtli</a></li>
                                    <li><a href="">Spirtsiz</a></li>

                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="">Ickiler</a>
                                <ul class="menu-drop">
                                    <li><a href="">Enerji</a></li>
                                    <li><a href="">Spirtli</a></li>
                                    <li><a href="">Spirtsiz</a></li>

                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="">Ickiler</a>
                                <ul class="menu-drop">
                                    <li><a href="">Enerji</a></li>
                                    <li><a href="">Spirtli</a></li>
                                    <li><a href="">Spirtsiz</a></li>

                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="">Ickiler</a>
                                <ul class="menu-drop">
                                    <li><a href="">Enerji</a></li>
                                    <li><a href="">Spirtli</a></li>
                                    <li><a href="">Spirtsiz</a></li>

                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="">Ickiler</a>
                                <ul class="menu-drop">
                                    <li><a href="">Enerji</a></li>
                                    <li><a href="">Spirtli</a></li>
                                    <li><a href="">Spirtsiz</a></li>

                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="">Ickiler</a>
                                <ul class="menu-drop">
                                    <li><a href="">Enerji</a></li>
                                    <li><a href="">Spirtli</a></li>
                                    <li><a href="">Spirtsiz</a></li>

                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="">Ickiler</a>
                                <ul class="menu-drop">
                                    <li><a href="">Enerji</a></li>
                                    <li><a href="">Spirtli</a></li>
                                    <li><a href="">Spirtsiz</a></li>

                                </ul>
                            </li>
                        </ul>



                    </div>
                </div>
                <div class="col-lg-8 col-sm-8 ">
                    <div class="row">
                        @foreach (var item in Model.productList)
                        {
                            <div class="col-lg-3 mt-5  col-md-4 col-sm-6 col-12">
                                <div class="discount">
                                    <a href="item.html">
                                        <div class="quickview">
                                            <p style="font-size: 20px;">Quick View</p>
                                        </div>
                                        <img class="img-fluid mt-3" src="@item.Image" style="width: 80%">
                                    </a>
                                    <div class="discount-bottom">
                                        <h3>@item.Name</h3>
                                        @if (item.Discount_price != null)
                                        {
                                            <p style="color: black">@item.Discount_price AZN</p>
                                        }
                                        @if (item.Discount_price == null)
                                        {
                                            <p style="color: black">@item.Price AZN</p>

                                        }
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- <Footer> -->
    <footer>
        <div class="container">
            <h2 style="margin-bottom: 80px; margin-top: 30px;">Etrafli</h2>
            <div class="row">
                <div class="col-md-4">

                    <p>Online alisveris</p>
                    <p>Supermarketlerde endirim</p>
                    <p>Haqqimizda</p>
                    <p>Elaqe</p>
                </div>


                <div class="col-md-4">
                    <div class="header" style="margin-top:-70px">
                        <h5>Yardim</h5>
                        <hr align="left" style="width:60%;background-color: black">
                        <div class="info mt-4">
                            <p>FAQ</p>
                            <p>Catdirilma haqqinda></p>
                            <p>Market siyaseti</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="header" style="margin-top:-70px">
                        <h5>Bizi izle</h5>
                        <hr align="left" style="width:60%;background-color: black">
                        <div class="footer-links mt-4 ">
                            <ul>
                                <li class="pb-3">
                                    <a href="#" target="_blank">
                                        <img src="Fhoto/fb.png" alt="">
                                        <span>Facebook</span>
                                    </a>
                                </li>
                                <li class="pb-3">
                                    <a href="#" target="_blank">
                                        <img src="Fhoto/insta2.png" alt="">
                                        <span>Instagram</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- <Footer> -->

    <script src="js/aos.js"></script>
</body>
</html>


