
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <link rel="stylesheet" href="~/Areas/MarketAdmin/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Areas/MarketAdmin/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Areas/MarketAdmin/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Areas/MarketAdmin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>



    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="https://colorlib.com/polygon/concept/index.html"><img class="logo-img" src="~/Areas/MarketAdmin/assets/images/logo.png" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input name="Email" class="form-control form-control-lg" id="username" type="text" placeholder="Username" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input name="Password" class="form-control form-control-lg" id="password" type="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember Me</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Create An Account</a>
                </div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>




    <script src="~/Areas/MarketAdmin/assets/vendor/jquery/jquery-3.3.1.min.js" type="46b1f56b2ff5bf9888ee2675-text/javascript"></script>
    <script src="~/Areas/MarketAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.js" type="46b1f56b2ff5bf9888ee2675-text/javascript"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="46b1f56b2ff5bf9888ee2675-text/javascript"></script>
    <script type="46b1f56b2ff5bf9888ee2675-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="../../../../ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="46b1f56b2ff5bf9888ee2675-|49" defer=""></script>
</body>

<!-- Mirrored from colorlib.com/polygon/concept/pages/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2019 12:41:12 GMT -->
</html>
